### Task 1. 

#### MapReduce

Use MapReduce to calculate the average housing price in each zip code and filter out records in which gross sqft is less than 500 and sale price is less than 100000. Round the average housing price to 2 decimals, and sort the output by housing price ascending.

In [3]:
# !wget -O housingSalseSample.csv https://github.com/CUSP2022ADS/Data/raw/main/housingSalseSample.csv
import pandas as pd
df = pd.read_csv('housingSalseSample.csv')
df

,BOROUGH,BLOCK,LOT,BUILDING CLASS CATEGORY,ADDRESS,ZIP CODE,GROSS SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
0,1,1170,1010,17 CONDOPS,"200 WEST 79TH STREET, 7P",10024.0,0.0,1975.0,551000,2011-07-28
1,4,1275,45,10 COOPS - ELEVATOR APARTMENTS,"35-35 75TH STREET, 304",11372.0,0.0,1941.0,338000,2011-05-20
2,3,5746,58,03 THREE FAMILY DWELLINGS,1249 65TH STREET,11219.0,3861.0,1910.0,1250000,2014-12-04
3,4,2086,50,10 COOPS - ELEVATOR APARTMENTS,"97-07 63 ROAD, 8F",11374.0,0.0,1955.0,253000,2016-03-09
4,4,5028,7,10 COOPS - ELEVATOR APARTMENTS,"38-15 149TH STREET, 1F",11354.0,0.0,1955.0,0,2016-12-30
...,...,...,...,...,...,...,...,...,...,...
49995,5,143,66,01 ONE FAMILY DWELLINGS,29 NORTH MADA AVENUE,10310.0,1740.0,1915.0,0,2014-10-15
49996,4,4686,34,02 TWO FAMILY DWELLINGS,150-38 17TH ROAD,11357.0,2945.0,1925.0,970000,2014-10-28
49997,4,6670,1,09 COOPS - WALKUP APARTMENTS,"144-32 78TH AVENUE, 2F",11367.0,0.0,1949.0,140000,2014-10-17
49998,1,1247,37,10 COOPS - ELEVATOR APARTMENTS,"302 WEST 86TH STREET, 1A",10024.0,0.0,1917.0,880000,2012-10-31
49999,3,305,54,01 ONE FAMILY DWELLINGS,2 WARREN PLACE,11201.0,1056.0,1899.0,1300000,2013-06-07

In [40]:
# code here
from functools import reduce

def priceByZipcode(result,record):
    zipcode, price = record[0],record[1]
    result[zipcode] = result.get(zipcode,[]) + [price]
    return result

# reduce(priceByZipcode,df[['ZIP CODE', 'SALE PRICE']].values,{})
def averagePrice(record):
    zipcode, prices = record[0], record[1]
    return [zipcode, round(sum(prices)/len(prices),2)]

output = list(filter(lambda x: x[2]<500 and x[1]<100000, df[['ZIP CODE', 'SALE PRICE', 'GROSS SQUARE FEET']].values))
output = list(map(averagePrice,list(reduce(priceByZipcode, output, {}).items())))
output = sorted(output, key=lambda x: x[1])
output

[[11360.0, 0.0],
 [11228.0, 0.0],
 [11005.0, 0.0],
 [10302.0, 0.0],
 [11243.0, 0.0],
 [10312.0, 0.0],
 [10040.0, 0.0],
 [11109.0, 0.0],
 [11378.0, 0.0],
 [11426.0, 0.0],
 [11362.0, 0.0],
 [10308.0, 0.0],
 [10004.0, 0.0],
 [11416.0, 0.0],
 [11428.0, 0.0],
 [11363.0, 0.0],
 [11366.0, 0.0],
 [10464.0, 0.0],
 [11429.0, 0.0],
 [11370.0, 0.0],
 [11203.0, 0.0],
 [11412.0, 0.0],
 [11103.0, 0.0],
 [11361.0, 0.0],
 [11697.0, 0.0],
 [11436.0, 0.0],
 [10475.0, 0.0],
 [10005.0, 0.08],
 [10454.0, 0.25],
 [11204.0, 0.3],
 [10280.0, 0.48],
 [11365.0, 0.83],
 [10020.0, 1.0],
 [10018.0, 1.43],
 [10029.0, 9.25],
 [11105.0, 16.67],
 [11357.0, 16.77],
 [10014.0, 21.04],
 [10038.0, 24.39],
 [10003.0, 74.04],
 [10039.0, 233.33],
 [10314.0, 329.48],
 [10010.0, 376.25],
 [10006.0, 411.76],
 [10013.0, 416.94],
 [11223.0, 443.24],
 [11239.0, 483.32],
 [11218.0, 488.43],
 [10016.0, 873.56],
 [10017.0, 1073.65],
 [11385.0, 1111.11],
 [10012.0, 1177.87],
 [11224.0, 1250.0],
 [10037.0, 1266.45],
 [11417.0, 1334.17],
 [10022.0, 1422.95],
 [11238.0, 1444.44],
 [11221.0, 1562.5],
 [10128.0, 1597.86],
 [11231.0, 1763.89],
 [11206.0, 2038.68],
 [10024.0, 2050.85],
 [11356.0, 2074.09],
 [11201.0, 2137.52],
 [11106.0, 2179.49],
 [10025.0, 2180.0],
 [10009.0, 2191.45],
 [11216.0, 2204.35],
 [10465.0, 2250.0],
 [10021.0, 2267.99],
 [11214.0, 2275.13],
 [10027.0, 2397.06],
 [10307.0, 2445.27],
 [11434.0, 2500.0],
 [10075.0, 2555.13],
 [11209.0, 2613.03],
 [10036.0, 2617.27],
 [11219.0, 2724.68],
 [11354.0, 2786.7],
 [11211.0, 2807.45],
 [10065.0, 2997.17],
 [11102.0, 3199.69],
 [11355.0, 3271.91],
 [11419.0, 3333.33],
 [11374.0, 3333.49],
 [11234.0, 3456.46],
 [10309.0, 3741.11],
 [10069.0, 4344.25],
 [10305.0, 4434.78],
 [11205.0, 4640.88],
 [11225.0, 4733.33],
 [0.0, 4803.25],
 [10032.0, 4821.18],
 [10002.0, 5078.44],
 [11691.0, 5309.68],
 [10456.0, 5314.75],
 [11104.0, 5454.55],
 [11207.0, 5455.95],
 [10023.0, 5520.15],
 [11364.0, 5555.56],
 [11237.0, 5714.29],
 [10028.0, 5716.27],
 [10026.0, 5760.42],
 [11233.0, 6221.53],
 [11222.0, 6339.54],
 [11372.0, 6377.78],
 [11101.0, 6479.99],
 [11435.0, 6556.97],
 [10306.0, 6654.35],
 [11377.0, 6670.95],
 [10310.0, 6812.5],
 [11249.0, 6870.95],
 [10044.0, 6888.67],
 [10474.0, 7000.0],
 [10011.0, 7070.2],
 [11217.0, 7075.16],
 [11232.0, 7272.73],
 [11235.0, 7340.91],
 [11373.0, 7426.07],
 [10033.0, 7856.91],
 [11208.0, 8015.5],
 [11215.0, 8087.43],
 [11230.0, 8322.58],
 [10453.0, 8437.5],
 [10461.0, 8609.88],
 [10304.0, 8709.68],
 [10007.0, 8824.12],
 [11220.0, 8935.38],
 [11213.0, 9468.7],
 [11379.0, 9550.0],
 [11694.0, 9600.5],
 [10303.0, 9689.75],
 [10451.0, 10041.67],
 [11418.0, 10714.29],
 [11368.0, 10908.41],
 [11226.0, 10909.09],
 [11229.0, 10927.45],
 [11236.0, 11127.32],
 [11413.0, 11428.57],
 [11420.0, 11428.57],
 [10035.0, 11444.5],
 [11415.0, 11478.15],
 [11358.0, 12161.38],
 [10463.0, 12458.71],
 [11375.0, 13250.11],
 [11693.0, 13593.33],
 [10452.0, 13801.08],
 [11422.0, 13916.67],
 [10466.0, 14750.0],
 [10470.0, 14900.0],
 [10019.0, 14962.5],
 [10031.0, 15780.62],
 [10473.0, 15891.32],
 [11421.0, 16920.0],
 [10030.0, 17190.57],
 [10467.0, 17548.75],
 [10301.0, 18654.34],
 [10458.0, 19008.33],
 [10469.0, 19190.33],
 [11692.0, 19250.0],
 [10471.0, 19262.67],
 [11210.0, 20305.33],
 [10460.0, 21266.67],
 [11367.0, 21765.33],
 [11414.0, 21993.86],
 [11427.0, 22375.0],
 [10001.0, 23254.29],
 [11212.0, 24006.67],
 [11432.0, 24500.0],
 [11004.0, 25000.0],
 [10455.0, 25500.0],
 [11433.0, 26201.78],
 [11369.0, 29541.67],
 [10459.0, 30589.33],
 [10468.0, 31441.18],
 [10457.0, 32203.0],
 [11423.0, 35642.86],
 [10462.0, 37965.5],
 [10034.0, 39247.0],
 [10472.0, 49841.25]]

In [41]:
'''grading function
please pass your output into this function and upload the generated csv file 
together with your notebook to your GitHub repo'''

def grading(output):
    import pandas as pd
    pd.DataFrame(output,columns=['zipcode','price']).to_csv('output1.csv',index=False)

grading(output)

### Task 2. 
#### multiprocessing and Chunk

In [31]:
# !wget -O ADSSession2Task2Data.csv https://raw.githubusercontent.com/CUSP2022ADS/Data/main/ADSSession2Task2Data.csv

      Type                Value Select
0        0   0.1488486295446153      0
1        3   0.2198529412734188      1
2        7  0.15871379686112896      0
3        0   0.9980337347337275      1
4        3   0.4923200916998063      0
...    ...                  ...    ...
11997    8   0.9252856634364992      0
11998    6  0.12564358624103245      1
11999    7   0.9328986651807677      0
12000    2   0.2858165168913036      0
12001    2    0.749003640226192      1

[12002 rows x 3 columns]

Apply the chunk and MapReduce method to sum up each type's value in the synthetic datasetâ€”only keep records which $Select$ value is 1, and read 1000 lines in each chunk. Use multiprocessing package to deploy the task to multi-cores. The output should only have two columns: type and total value.

Hint: filter function is not available in multiprocessing, implement an if-else function in the map or reduce step.

In [21]:
# from multiprocessing import Pool # this gets error: AttributeError: can't get attribute 'returnInfo' on <module '__main__' (built-in)>
from multiprocess import Pool # this works. requirement: pip install multiprocess
from functools import reduce
import csv

def returnInfo(record): #extract necessary fields from a data record (raw)
    if record['Select'] == '1':
        return(record['Type'], record['Value'])
    else:
        return(record['Type'], 0)

def sumValue(result,record): #sum up each type's value
    t, v = record[0], record[1]

    result[t] = result.get(t, 0) + float(v)

    return result

with open('ADSSession2Task2Data.csv', 'r') as fi:
    reader = csv.DictReader(fi)
    chunk = []
    result = []
    # read 1000 lines in each chunk
    chunksize = 1000
    pool = Pool(8)
    for i, line in enumerate(reader):
        if (i % chunksize == 0 and i > 0):
            # MapReduce function for rows in one chunk
            output = list(reduce(sumValue, pool.map(returnInfo, chunk), {}).items())
            result += output
            del chunk[:]  # or: chunk = []
                 
        # add lines to chunk, and when the index
        # is 1000, 2000, etc, stop adding new lines
        # and start MapReduce functions
        chunk.append(line)
        
    # MapReduce function for the last chunk
    output = list(reduce(sumValue, pool.map(returnInfo, chunk), {}).items())
    result += output
    pool.close()

In [29]:
output = list(reduce(sumValue,result,{}).items())[:-1]
output

[('0', 306.7099300824752),
 ('3', 294.32549925839936),
 ('7', 280.6029945361827),
 ('4', 320.753814015207),
 ('1', 316.7932728146583),
 ('9', 291.68146927692595),
 ('6', 302.75696574193273),
 ('5', 302.4264220421208),
 ('8', 274.5970828385255),
 ('2', 286.0854868555854)]

In [30]:
'''grading function
please pass your output into this function and upload the generated csv file 
together with your notebook to your GitHub repo'''

def grading(output):
    import pandas as pd
    pd.DataFrame(output,columns=['Type','Value']).to_csv('output2.csv',index=False)

grading(output)